body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: radial-gradient(
        circle at top right, /* Starts at the top right */
        #ecb236f5   ,         /* Inner color */
        rgb(252, 252, 252) 80%,      /* Midpoint color (50% of the gradient's radius) */
        transparent 100%/* Outer color (transparent for full fade) */
      );
    
    font-family: 'Roboto', sans-serif;

  }
  
  .container {
    display: flex;
    height: 100vh;
  
  }
.signup {
    display: flex;
    flex-direction: column;
  }
  
  #bg-image { 
    /* The image used */
    background-image: url("../images/background1.jpg");
  
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 80% 100%;
    flex: 1;
    height: 100%;
  }
  
  .content {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 20px;
    justify-content: center;
    /* align-content: center; */
    justify-items: center;
  }


  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }

.content .headers{
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
    margin-top: 50px;
    justify-items: space-around;
}

#logo{
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 20px;
    align-content: center;
    margin: auto;
    }

button{
    background-color: #f4c266;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #090704;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    opacity: 0.6;
}

#form-div{
    justify-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    /* background-color: #f4c266; */
    background: linear-gradient(90deg,rgb(234, 216, 182),rgb(231, 205, 157), #ebc47c);
    width: 50%;
    margin: 5px auto;
}
label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}
input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #090704;
    box-sizing: border-box;
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}
#backButton{
    justify-content: flex-start;
    background-color: #f4c266;
    color: white;
    padding: 10px 15px;
    margin: 8px auto 8 px 15px;
    border: 2px solid #090704;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}
 header h1{
    justify-content: center;
    margin: auto;
 }

.fail{
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }


/*# the student dashboard */

.dashboard-container {
    padding: 20px;
}

.section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.courses, .past-courses {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 70%;
}

.courses h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.add-courses {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 30%;

}

.course-item {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #090704;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.course-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;


}

.drop-course{
    background-color: #c01600;
    color: white;
    padding: 10px 10px;
    margin: 8px auto 8 px 15px;
    border: 2px solid #090704;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    border-radius: 10px;
}


form {
    margin-top: 10px;

}
